<div data-ng-controller="PokedexController">
	<div class="page-header">
		<div class="form-group pull-right col-md-3">
			<input ng-model="query" type="text" class="form-control input-sm" placeholder="Search (Press enter to search)" data-ng-keypress="filterByQuery($event)">
		</div>
		<h1>Pokedex <small>({{ pokedexDescription }})</small></h1>
	</div>

	<div class="row" data-ng-repeat="pokemons in pokemonGroupped">
		<div class="col-md-3" data-ng-repeat="pokemon in pokemons">
			<div class="panel panel-default" >
				<div class="panel-heading">
					<span class="label label-primary pull-right"># <strong>{{ pokemon.id }}</strong></span>
					{{ pokemon.name }}
				</div>
				<div class="panel-body row-fluid">
					<div class="col-md-4">
						<a href="#/pokemon/{{ pokemon.name | normalize }}" class="thumbnail">
							<pokemon-image></pokemon-image>
						</a>
					</div>
					<div class="col-md-8">
						<table class="table">
							<tr></tr>
							<tr>
								<td><strong>Type(s)</strong></td>
								<td>
									<div data-ng-repeat="type in pokemon.type" class="pull-left">
										<a href="#/type/{{ type | lowercase }}" class="label label-{{ type | colortype }}">
											{{ type }}
										</a><span data-ng-hide="{{ $last }}"> </span>
									</div>
								</td>
							</tr>
							<tr>
								<td><strong>Abilities</strong></td>
								<td>
									<ul class="list-unstyled">
										<li data-ng-repeat="ability in pokemon.abilities">
											<a href="#/ability/{{ ability | normalize }}">{{ ability }}</a>
										</li>
									</ul>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>